@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #727272;
  border-radius: 14px;
  border: 2px solid #ffffff;
}

body,html {
  margin: 0;
  padding: 0;
  background-color: #c8dae0;
}
