@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scrollbar-width: 0;
}

*::-webkit-scrollbar {
  width: 0;
}

body,html {
  margin: 0;
  padding: 0;
  background-color: #c8dae0;
}
